.kotak-daftar {
  position: absolute;
  width: calc(100% - 110px);
  height: 80%;
  /* text-align: center; */
  top: 100px;
  margin: 0px;
  left: 55px;
  padding: 15px;

  background-color: #d9d9d9;
  border-radius: 45px;
}

.teks-h3 {
    background-color: #2986c0;
    padding: 10px;
    color: #0c2738;
}