.kotak-daftar {
  position: relative;
    width: calc(100% - 7em);
    height: max-content;
    /* text-align: center; */
    /* top: 100px; */
    margin: 0px;
    left: 55px;
    /* padding: 25px; */
    padding: auto;
    background-color: #d9d9d9aa;
    border-radius: 15px;
}

.teks-h3 {
  background-color: #2986c0;
  /* padding: 10px; */
  color: #0c2738;
}

#InputDataDiri{
    width: calc(100%);
}