.teks-h1 {
    color: black;
    background-color: #04AA6D;
    text-align: center;
}

.teks-p {
    color: black;
    background-color: #04AA6D;
    position: relative;
    /* width: 650px; */
    /* height: 76px; */
    text-align: center;
    font-size: x-large;
}


.img {
    position: relative;
    width: 300px;
    height: 296px;
    display: grid;
    justify-items: center;
    align-items: start;
    align-content: stretch;
    margin-inline-start: 25%;
}

.tes {
    background-color: #dddd;
    position: relative;
    height: 440px;
    margin: 0px;
    padding: 1em;
}