/* ekstrakulikuler.css */

/* Container */
.container-lg {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Judul dan Paragraf */
  .kull {
    text-align: center;
    background-color: #3F5A6F;
    color: white;
  }
  
  .paragraf {
    margin-left: 0.6em;
  }
  
  /* Ekskul */
  .ektra {
    margin-top: 40px;
  }
  
  /* Gambar */
  .foto {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }
  
  /* Deskripsi */
  .des {
    margin-left: 0.6em;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
  .foto {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }
  
  @media (min-width: 992px) {
    .foto {
      width: 60em;
      height: 30em;
    }
  }