.teks-h1 {
    color: black;
    background-color: #04AA6D;
    text-align: center;
}

.teks-p {
    color: black;
    background-color: #04AA6D;
    position: relative;
    /* width: 650px; */
    /* height: 76px; */
    text-align: center;
    font-size: x-large;
}

.kotak-invisible {
    padding-bottom: 8em;
}


.img {
    position: relative;
    width: 400px;
    height: 200px;
    display: grid;
    justify-items: center;
    align-items: start;
    align-content: stretch;
    margin-inline-start: 25%;
}

.tes {
    background-color: #dddd;
    position: relative;
    height: 440px;
    margin: 0px;
    padding: 1em;
}
.kull {
    color: white;
    background-color: #3F5A6F;
    text-align: center;
    padding: 0.1em;
    margin: 0.5em;
}
.paragraf {
    margin-left: 0.6em;
    margin-bottom: 1em;
    font-family: 'Times New Roman', Times, serif;
}
.ektra {
    margin-left: 0.2em;
    margin-bottom: 1.5em;
}
.foto {
    width: 60em;
    height: 30em;
}
