.teks-h1 {
    color: black;
    background-color: #04AA6D;
    text-align: center;
}

.img1 {
    position: relative;
    width: 300px;
    height: 296px;
}

.img2 {
    position: relative;
    width: 300px;
    height: 296px;
}

.img3 {
    position: relative;
    width: 300px;
    height: 296px;
}