.teks-h1 {
    color: white;
    background-color: #3F5A6F;
    text-align: center;
    margin-top: 0.3em;
    text-align: center;
}

.img1 {
    position: relative;
    width: 300px;
    height: 296px;
    left: 1.5em;
}

.kotak {
    max-width: fit-content;
    margin-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    align-items: center;
}
.teks-h2 {
    color: black;
    text-align: left;
    margin-top: 6vh;
}