.teks-h1 {
    color: black;
    background-color: #04AA6D;
    text-align: center;
    margin-top: 8vh;
    text-align: center;
}

.img1 {
    position: relative;
    width: 300px;
    height: 296px;
    left: 1.5em;
}

.kotak {
    max-width: fix-content;
    margin-top: -9vh;
    padding-bottom: 8em;
}
.teks-h2 {
    color: black;
    text-align: left;
    margin-top: 6vh;
    text-align: left;
}