.teks-h1 {
    color: white; 
    background-color: #3F5A6F;
    text-align: center;
}
.img1{
    position: absolute;
    width: 300px;
    height: 296px;
    left: 100px;
    top: 154px;
    }


.img2{
    position: absolute;
    width: 300px;
    height: 296px;
    left: 525px;
    top: 154px;
    }
    .img3{
        position: absolute;
        width: 300px;
        height: 296px;
        left: 950px;
        top: 154px;
        }

.otkp {
    position: absolute;
    top: 435px;
    left: 160px;
    color: aliceblue;
}
.akl {
    position: absolute;
    top: 435px;
    color: aliceblue;
    left: 600px;
}
.rpl {
    position: absolute;
    top: 435px;
    color: aliceblue;
    left: 1040px;
}