h1 {
  color: white;
  background-color: #3F5A6F;
  text-align: center;
  margin-top: 0.3em;
  text-align: center;
}
.col {
  margin-right: 3em;
}
.container {
  margin-bottom: 80px;
  text-align: center;
  position: relative;/* Atur jumlah ruang tambahan di sini */
}
.guru-img {
  border: 2px solid black;
}
