/*navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}

/*dropdown*/
li a:hover,
.dropdown:hover .dropbtn {
  background-color: #04AA6D;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mar {
  background-color: #f1f1f1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*background*/
body {
  background-image: url('./../img/D3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


/*artikel*/

/*background*/
.rois {
  position: fixed;
  width: 1000px;
  height: 480px;
  padding: 0px;
  left: 175px;
  padding-top: 35px;

  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 25px;
}

.kotak {
  position: relative;
  width: calc(100% - 7em);
  height: max-content;
  margin-top: 1em;
  margin-bottom: 0px;
  left: 3.5em;
  padding: 5px;
  padding: auto;
  background-color: #d9d9d9aa;
  border-radius: 15px;
}

.kotak-invisible {
  width: calc(100% - 7em);
  margin-top: 1em;
  padding-bottom: 8em;
  background-color: #d9d9d900;
}

.kaki {
  position: fixed;
  margin: 0px;
  display: grid;
  margin-top: 2%;
  align-items: center;
  height: 8em;
  background-color: #d9d9d9;
  justify-items: center;
  width: 100%;
  left: 0px;
  justify-content: center;
  align-content: center;
  bottom: 0px;
}