/* Navbar 2.0 */
.bar-navigasi {
  background-color: #333;
  padding: 10px;
}

.menu-aktif {
  background-color: #04AA6D;
  border-radius: 5px;
}

.teks-bar-nav-color {
  color:white;
  padding-left: 3px;
  /* font-size: medium; */
}
.teks-bar-nav-color:hover {
  color:white;
  /* font-size: medium; */
}

/*background*/
body {
  background-image: url('../img/bck1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


/*artikel*/

/*background*/
.rois {
  position: fixed;
  width: 1000px;
  height: 480px;
  padding: 0px;
  left: 175px;
  padding-top: 35px;

  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 25px;
}

.kotak {
  position: relative;
  width: calc(100% - 7em);
  height: max-content;
  margin-top: 1em;
  margin-bottom: 0px;
  /* left: 3.5em; */
  background-color: #d9d9d9aa;
  border-radius: 15px;
  padding: 5px;
  padding-bottom: 8em;
}

.kotak-invisible {
  width: calc(100% - 7em);
  margin-top: 1em;
  padding-bottom: 160px;
  background-color: #d9d9d900;
}

.kaki {
  position: fixed;
  margin: 0px;
  display: grid;
  margin-top: 1%;
  height: 8em;
  background-color: #d9d9d9;
  width: calc(100%);
  /* left: calc(50% - (100% - 7em)/2); */
  /* width: 100%; */
  left: 0px;
  bottom: 1px;
  padding-left: 10px;
  margin-bottom: 0px;

}

.isikaki {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.img-kaki {
  margin-inline-start: 10em;
}

.copyright {
  margin: 0px;
}

.copyright p {
  position: absolute;
  bottom: -5px;
  left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: smaller;
}

.kaki-informasi {
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
}

.alamatdll {
  width: 100%;
  margin-left: -40px;
}

.sosmed li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-block-end: 0.5em;
}

.moto-smk{
  margin-top: 5px;
}