h1 {
    text-align: center;
    background-color: #3F5A6F;
    color: white;
}
/* .kotak {
    max-width: fix-content;
    margin-top: -9vh;
    padding-bottom: 8em;
} */
/* h2 {
    color: black;
    text-align: left;
    margin-top: 4vh;
    text-align: left;
} */