.foto {
    position: absolute;
    margin-top: 10px;
    width: 225px;
    height: 225px;
    left: 2em;
    top: 59px;
    background-color: #ffffff00;
    border-radius: 25px;
}

.foto img {
    border-radius: 25px;
}

.isinya {
    position: absolute;
    width: calc(100% - 23.5em);
    height: 86%;
    left: 213px;
    top: 59px;
    background-color: azure;
    margin-left: 70px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 25px;
    padding: 15px;
}