.foto {
    position: relative;
    margin: 0;
    margin-top: 10px;
    width: 225px;
    height: 225px;
    right: 3em; 
    /* top: 59px; */
    background-color: #ffffff00;
    border-radius: 25px;
}

.foto img {
    margin:0;
    border-radius: 25px;
}

.isinya {
    /* position: relative;
    width: calc(100% - 23.5em);
    height: 86%;
    left: 213px;
    top: 59px;
    background-color: azure;
    margin-left: 70px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 25px;
    padding: 15px; */
    display: flex;
}

.kotak {
    margin: 0;
    /* min-width: 100%; */
    width: 55em;
    left: -1%;
    margin-left: -7em;
    margin-top: 10px;
}
